<footer class="foot">
  <div class="wrap">
    <div class="foot-in">
      <a href="index.html" class="logo"><img src="assets/haip-logo.svg" alt="스튜디오 하입 HaiP" width="157" height="79"></a>
      <nav class="foot-nav">
        <a href="index.html">홈</a><a href="services.html">서비스</a><a href="insight.html">인사이트</a><a href="contact.html">문의</a>
      </nav>
    </div>
    <small>
      스튜디오 하입 (Studio HaiP)<br>
      상호 하입, 대표 김문원, 사업자등록번호 579-22-02317<br>서울특별시 중구 장충단로 6길 54, 405호<br>
      © 2026 스튜디오 하입. All rights reserved.
    </small>
  </div>
</footer>
